<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>Your Shop</title>

<link rel="stylesheet"
	th:href="@{/ressources/boosted/css/orangeHelvetica.css}" />
<link rel="stylesheet"
	th:href="@{/ressources/boosted/css/orangeIcons.css}" />
<link th:href="@{/ressources/boosted/css/bootstrap-orange2015.css}"
	rel="stylesheet">
<link th:href="@{/ressources/boosted/css/boosted2015.css}"
	rel="stylesheet">
</head>

<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/products" th:href="@{/products}">
					<img alt="Brand"
					th:src="@{/ressources/boosted/img/ORANGE_LOGO_rgb.jpg}"> <span
					class="navbar-brand-text">YourShop</span>
				</a>
			</div>
		</div>
	</nav>

	<br />
	<br />
	<div class="row">
	    <div class="col-xs-1 col-md-1">
		</div>
		
		<div class="col-xs-11 col-md-4">
				<img th:src="@{'/ressources/images/'+${phone.url}}" style="width: 90%"/>
		</div>
		
		<div class="col-xs-1 col-md-1">
		</div>
		
		<div class="col-xs-10 col-md-5" style="background-color: #f5f5f5;">
		        <br/>
		        <p class="col-xs-1 col-md-1"></p>
				<h3 class="col-xs-11 col-md-11" th:text="${phone.brand}+' '+${phone.name}" >Phone Name</h3>
				
		        <p class="col-xs-1 col-md-1"></p>
				<p class="col-xs-10 col-md-10" th:text="${phone.description}">Description</p>
				
				<p class="col-xs-8 col-md-8"></p>
				<h5 class="col-xs-3 col-md-3" th:if="${phone.isAvailable}==true" Style="color: green;"> En Stock</h5>
				<h5 class="col-xs-3 col-md-3" th:if="${phone.isAvailable}==false" Style="color: red;"> En Repture</h5>
				
				<p class="col-xs-8 col-md-8"></p>
				<h4 class="col-xs-3 col-md-3">&euro; <span th:text="${phone.price}">00.00</span></h4>
				
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
	<script th:src="@{/ressources/boosted/js/boosted.js}"></script>
	
</body>

</html>