<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Your Shop</title>

<link rel="stylesheet"
	th:href="@{/ressources/boosted/css/orangeHelvetica.css}" />
<link rel="stylesheet"
	th:href="@{/ressources/boosted/css/orangeIcons.css}" />
<link th:href="@{/ressources/boosted/css/bootstrap-orange2015.css}"
	rel="stylesheet">
<link th:href="@{/ressources/boosted/css/boosted2015.css}"
	rel="stylesheet">

<link th:href="@{/ressources/boosted/css/main.css}" rel="stylesheet">

<link th:href="@{/ressources/style.css}" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
	rel="stylesheet">

<link th:href="@{/ressources/noUiSlider/nouislider.min.css}"
	rel="stylesheet">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>

</head>



<body>



	<div th:replace="fragments/header :: header" />

	<div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">

		<br />
		<!-- 		<h2 class="col-sm-12 col-md-12">SmartPhones & Tablettes</h2> -->

		<!-- 		<br /> -->

		<!-- <div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation"
					th:class="${activetab}=='all' ? active : notactive"><a
					th:href="@{/products}" data-toggle="tab" aria-controls="All"
					role="tab"> Tous les produits </a></li>
				<li role="presentation"
					th:class="${activetab}=='iphones' ? active : notactive"><a
					th:href="@{/iphones}" data-toggle="tab" aria-controls="Iphones"
					role="tab"> Iphones </a></li>
				<li role="presentation"
					th:class="${activetab}=='smartphones' ? active : notactive"><a
					th:href="@{/smartphones}" data-toggle="tab"
					aria-controls="Smartphones" role="tab"> Smartphones </a></li>
				<li role="presentation"
					th:class="${activetab}=='tablettes' ? active : notactive"><a
					th:href="@{/tablettes}" data-toggle="tab" aria-controls="Tablettes"
					role="tab"> Tablettes </a></li>
			</ul>
		</div> -->


		<br /> <br />

		<div class="col-sm-12 col-md-3">
			<div class="panel panel-default col-sm-12 col-md-11"
				style="border: 1.5pt solid #000">
				<div class="panel-body">

					<div class="section">
						<h4>Affinez vos resultats</h4>
						<div class="input-group">
							<input type="text" class="form-control">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default" aria-label="Help">
									<span class="icon-search"></span>
								</button>
							</div>
						</div>
					</div>

					<div class="section" th:if="${marques.size()}>1">
						<h5>Categorie</h5>
						<form id="categoryForm">
							<div class="checkbox">
							    <label><input type="checkbox" name="brand">Smartphones</label>
							</div>
							<div class="checkbox">
							    <label><input type="checkbox" name="brand">Tablettes</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" name="brand">Accessoires</label>
							</div>
						</form>
					</div>

					<div class="section" th:if="${marques.size()}>1">
						<h5>Marque</h5>
						<form id="brandForm">
							<div class="checkbox" th:each="marque : ${marques}">
								<label><input type="checkbox" name="brand"
									th:value="${marque}"><span th:text="${marque}">option</span></label>
							</div>
						</form>
					</div>

					<div class="section">
						<h5>Prix</h5>
						<form id="priceForm">
							<div id="container">
								<div id="noUiSlider"></div>
								&euro; <span id="slider-snap-value-lower">0.00</span> <span
									style="float: right">&euro; <span
									id="slider-snap-value-upper">2000.00</span></span>
							</div>
						</form>
					</div>

				</div>
			</div>

		</div>


		<div class="col-sm-12 col-md-9 col-lg-9">

			<div class="panel panel-default col-sm-12 col-md-12"
				style="border: 1.5pt solid #000">
				<div class="panel-body row">
					<div class="dropdown col-sm-3 col-md-3">
						<button class="btn btn-default dropdown-toggle" type="button"
							id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"
							style="border: 0; width: 100%; height: 100%;">
							Nom du produit <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#">Ascendant</a></li>
							<li><a href="#">Descendant</a></li>
						</ul>
					</div>

					<div class="dropdown col-sm-3 col-md-3">
						<button class="btn btn-default dropdown-toggle" type="button"
							id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false" style="border: 0; width: 100%; height: 100%;">
							Prix <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li><a href="#">Ascendant</a></li>
							<li><a href="#">Descendant</a></li>

						</ul>
					</div>

					<div>
						<h6>
							<span style="color: orange;"> 0 produits</span> correspond a votre
							recherche.
						</h6>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4"
					th:each="product : ${products}">
					<div class="thumbnail">
						<img th:src="@{'/ressources/images/'+${product.url}}"
							style="height: 180pt;">
						<div class="caption">
							<h3 th:text="${product.brand}+' '+${product.name}">Phone
								Name</h3>
							<h4>
								&euro; <span th:text="${product.price}">00.00</span>
							</h4>
							<p>
								<a href="detail.html" th:href="@{/details(id=${product.id})}"
									class="btn btn-primary" role="button">Details</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li class="bordered disabled"><a href="#"> <span
							aria-hidden="true" class="icon-arrow-previous"></span> <span
							class="sr-only">previous</span>
					</a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li class="bordered"><a href="#"> <span aria-hidden="true"
							class="icon-arrow-next"></span> <span class="sr-only">next</span>
					</a></li>
				</ul>
			</nav>
		</div>



	</div>

	<script>
		$(function() {
			$("#noUiSlider").noUiSlider({
				connect : true,
				start : [ 0, 2000 ],
				range : {
					'min' : 0,
					'max' : 2000
				},
				step : 10
			});
		});

		$("#noUiSlider").on('slide', function(values, handle) {
			$("#slider-snap-value-lower").text($(this).val()[0]);
			$("#slider-snap-value-upper").text($(this).val()[1]);
		});

		/*$("#noUiSlider").on('change', function(values, handle) {
					window.location.replace(window.location.href.split('?')[0] + '?pricemin='
							+ $(this).val()[0].split('.')[0] + '&pricemax='
							+ $(this).val()[1].split('.')[0]);
				});*/
	</script>


    
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
	<script th:src="@{/ressources/boosted/js/boosted.js}"></script>

</body>
</html>