<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/ressources/boosted/css/bootstrap-orange2015.css}"
	rel="stylesheet">
<link th:href="@{/ressources/boosted/css/boosted2015.css}"
	rel="stylesheet">

<link th:href="@{/ressources/boosted/css/main.css}" rel="stylesheet">

<script th:src="@{/ressources/popper/js/popper.min.js}"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script th:src="@{/ressources/boosted/js/boosted.js}"></script>

</head>
<body>

	<div class="container">
		<div class="row display-flex">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="box">
					<h3>Some text</h3>
					<img src="//placehold.it/150x180" class="center-block">
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="box">
					<h3>Some text</h3>
					<img src="//placehold.it/150x150" class="center-block">
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="box">
					<h3>Some text more text that wraps to new link</h3>
					<img src="//placehold.it/150x150" class="center-block">
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="box">
					<h3>Some text</h3>
					<img src="//placehold.it/150x150" class="center-block">
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="box">
					<h3>Some text</h3>
					<img src="//placehold.it/150x150" class="center-block">
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="box">
					<h3>Some text</h3>
					<img src="//placehold.it/150x150" class="center-block">
				</div>
			</div>
		</div>
	</div>

</body>
</html>