<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
	<div th:fragment="footer">

		<footer class="footer">
			<div class="container">
				<div class="col-md-6">
					<p>@ 2017 - All Rights with MyShop</p>
				</div>
				<div class="col-md-6">
					<ul class="bottom_ul">
						<li>Authors</li>
						<li>Ibtissem ABBES</li>
						<li>Mariem NFAIDH</li>
					</ul>
				</div>
			</div>
		</footer>


	</div>
</body>
</html>